<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Christian Bruckmayer</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <img class="img-responsive"  src="img/christian.jpg" alt="">
      </div>
      <div class="col-lg-8">
        <p>
          Christian Bruckmayer from
          <a href="http://en.wikipedia.org/wiki/Nuremberg">Nuremberg</a>,
          Germany, is member of the
          <a href="http://suse.com/">SUSE</a>
          SUSE Build Solutions team.
          He graduated with a Bachelor of Science in Information Systems from the
          <a href="http://www.th-nuernberg.eu/">University of Applied Science Nuremberg</a>.
          In 2014, he started his
          <a href="https://en.wikipedia.org/wiki/Free_software">Free Software</a>
          career as student of
          <a href="https://hennevogel.de/#about">Henne</a>
          in the
          <a href="https://summerofcode.withgoogle.com/">Google Summer of Code</a>.
          Since then, he is involved in hacking the Rails frontend of the
          <a href="http://openbuildservice.org/">Open Build Service</a>,
          <a href="https://susestudio.com/">SUSE Studio</a> and
          <a href="http://osem.io/">OSEM</a>.
        </p>
        <p>
          If he's not hacking Ruby, he's out doing what young people do: traveling the world, hanging out in clubs or visiting Mom & Dad.
        </p>

        <p>
          Projects Christian recently contributed to:
        <div class="col-lg-6">
          <ul>
            <li>
              <a href="http://openbuildservice.org/">Open Build Service</a>
            </li>
            <li>
              <a href="https://susestudio.com/">SUSE Studio</a>
            </li>
            <li>
              <a href="http://osem.io/">Open Source Event Manager</a>
            </li>
            <li>
              <a href="http://osem.io/">openSUSE 101 Mentoring</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
          <ul>
            <li>
              <a href="http://osem.io/">Google Summer of Code</a>
            </li>
            <li>
              <a href="http://osem.io/">Rails Girls Summer of Code</a>
            </li>
            <li>
              <a href="http://osem.io/">Skiclub Kühlenfels</a>
            </li>
          </ul>
        </div>
        </p>
      </div>
    </div>
  </div>
</section>
