  <section class="success" id="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>My Newsletter</h2>
        <hr class="star-light">
          <p>
            Do you like my content? Subscribe now to my newsletter to never miss a new article or talk!
          </p>
          <p>
            I will never share your email or spam and feel free to unsubscribe at any time.
          </p>
      </div>
    </div>
    <div class="row newsletter-form">
      <div class="col-lg-offset-2 col-lg-8 text-center">
      <div>
          <form action="https://bruckmayer.us10.list-manage.com/subscribe/post?u=78676f77a42e064a32f4d8f08&amp;id=8d30cdb3ad"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <div>
              <div class="form-group form-group-lg">
                <input type="email" value="" placeholder="your@mail.com" name="EMAIL" class="form-control" required id="mce-EMAIL" />
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                  name="b_78676f77a42e064a32f4d8f08_8d30cdb3ad" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                  class="button btn btn-danger btn-lg"></div>
            </div>
          </form>
          </div>
      </div>
    </div>
  </div>
</section>
