<meta content="{{ site.title }}" property="og:site_name">
{% if page.title %}
  <meta content="{{ page.title }}" property="og:title">
{% else %}
  <meta content="{{ site.title }}" property="og:title">
{% endif %}
{% if page.title %}
  <meta content="article" property="og:type">
{% else %}
  <meta content="website" property="og:type">
{% endif %}
{% if page.description %}
  <meta content="{{ page.description }}" property="og:description">
{% else %}
  <meta content="{{ site.description }}" property="og:description">
{% endif %}
{% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
{% endif %}
{% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.url }}/#about" property="article:author">
{% endif %}
{% if page.image %}
  <meta content="{{ site.url }}/img/{{ page.image }}" property="og:image">
{% else %}
  <meta content="{{ site.url }}/img/christian.jpg" property="og:image">
{% endif %}
{% if page.categories %}
  {% for category in page.categories limit:1 %}
    <meta content="{{ category }}" property="article:section">
  {% endfor %}
{% endif %}

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:site" content="@bruckmayer">
{% if page.title %}
  <meta property="twitter:title" content="{{ page.title }}"">
{% else %}
  <meta property="twitter:title" content="{{ site.title }}">
{% endif %}
{% if page.url %}
  <meta property="twitter:url" content="{{ site.url }}{{ page.url }}">
{% endif %}
{% if page.description %}
  <meta property="twitter:description" content="{{ page.description }}">
{% else %}
  <meta property="twitter:description" content="{{ site.description }}">
{% endif %}
{% if page.image %}
  <meta property="twitter:image"content="{{ site.url }}/img/{{ page.image }}">
{% else %}
  <meta property="twitter:image"content="{{ site.url }}/img/christian.jpg">
{% endif %}
